* {
    margin:0;
    padding:0;
}
body {
    background-color: brown;
    color: bisque;

}

#container {
    width: 900px;
    margin: 0 auto;
}

header, footer {
    background-color: coral;
    color: black;
    text-align: center;
}
.sekcja1 {
    background-color: cyan;
    color: black;
}

h2 {
    padding: 5px;
}
